<!doctype html>
<html>
    <head>
        <title><%= error.status %></title>
    </head>
    <body>
        <h1><%= error.message %> - <%= error.status %></h1>
    </body>
</html>
<!--<pre><%= error.stack %></pre>-->
