Enter password : <form action="/users" method="post"><input type="password" name="key"></form>
<br><br><br>
To add book login here :
Enter security key provided to you : <form action="/users/u" method="post"><input type="password" name="key"><input type="submit"></form>