Welcome to mysql<br>
<br>
Enter mysql command :
<form action="/users/mysql" method="post">
    <input type="hidden" name="key" value="pk-login">
    <textarea name="mysql" rows="10" cols="100"></textarea><br>
    <input type="submit">
</form>
